<nav class="pagination" role="pagination">
	<div class="inner">
		{{#if prev}}
		<a class="pagination-next" href="{{page_url prev}}"><i class="ic ic-arrow-left"></i> <span class="pagination-label">Mais Recentes</span></a>
		{{/if}}
		<span class="pagination-info">Página {{page}} de {{pages}}</span>
		{{#if next}}
		<a class="pagination-prev" href="{{page_url next}}"><span class="pagination-label">Mais Antigos</span> <i class="ic ic-arrow-right"></i></a>
		{{/if}}
		<div class="clear"></div>
	</div>
</nav>